<div class="card-plans-container mt-4">

  <div class="spinner-border" role="status" *ngIf="isLoading">
    <span class="sr-only">Loading...</span>
  </div>

  <div class="card-plan" *ngFor="let plan of plans">
    <p class="card-plan-title">{{ plan.descricao}}</p>
    <p class="card-plan-user">{{ plan.login }}</p>
    <p class="card-plan-discription">Movimentação do tipo: {{ plan.tipoMovimento}}</p>
  </div>
</div>
<div class="card-plans-form-container mt-4">
  <div class="card-name-plans mb-4">
    <img src="assets/icons/dollar-sign.svg" class="card-img-statement mr-4">
    <p class="card-name-text-plans">Crie um novo plano de conta</p>
  </div>

  <form class="card-plans-wrapper" [formGroup]="plansForm" (ngSubmit)="onSubmit()">

    <div class="form-group-input mb-4">
      <label for="descripton">Descrição</label>
      <input type="text" formControlName="description">
    </div>

    <div class="form-group-input mb-4">
      <label for="descripton">Usuário</label>
      <input type="text" formControlName="user">
    </div>

    <div class="form-group-input mb-4">
      <label for="descripton">Tipo de movimento</label>
      <input type="text" formControlName="type">
    </div>

    <div class="btn-plans mt-4 mb-2">
      <button type="submit" class="form-btn ml-2">
          Criar
          <img src="assets/icons/white-arrow.svg">
      </button>
    </div>
  </form>
</div>
