<!-- NÂO Estamos USANDO este Arquivo-->
    <!-- <app-home-dashboard></app-home-dashboard>

      <div class="feature-buttons">
        <div class="btn-hidden btn-feature">
          <img src="assets/icons/eye-hidden.svg" title="Ocultar" (click)="btnHide()">
        </div>
        <div class="btn-reload btn-feature">
          <img src="assets/icons/refresh.svg" title="Recarregar">
        </div>
        <div class="btn-sign-out btn-feature">
          <img src="assets/icons/exit.svg" title="Sair" (click)="logout()">
        </div>
      </div>
    </div>

    <div class="cards-accounts" *ngIf="show">
        <app-account class="card-account"></app-account>
      <app-credit-account class="card-account"></app-credit-account>
    </div>

    <div class="card-latest-statements" *ngIf="show">
      <app-latest-statements></app-latest-statements>
    </div>
  </div>
  <router-outlet></router-outlet>
</div> -->
