<div class="forgot-password-container p-3 mx-auto flex-column flex-sm-row">

  <form class="card-forgot-password p-4" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-title ml-2">
        <h4>Esqueceu sua senha</h4>
        <p>Confirme seu Usuário e sua nova senha.</p>
    </div>

    <div class="form-group-input mb-4">
        <input placeholder="Confirme seu usuário" type="text"
         name="usuario" formControlName="usuario">
    </div>

    <div class="form-group-input mb-4">
      <input placeholder="Digite sua nova senha" type="password"
      name="novaSenha" formControlName="novaSenha">
    </div>

    <div class="form-group-input mb-4">
      <input placeholder="Confirme sua nova senha" type="password"
      name="confirmaSenha" formControlName="confirmaSenha">
    </div>

    <div class="btn-loader mt-4 mb-5">
        <button type="submit" class="form-btn ml-2" (click)="onSubmit()">
            Enviar
            <img src="assets/icons/white-arrow.svg">
        </button>
    </div>
    <div class="btn-links mb-3">
        <a href="" class="mb-2">
            Ainda não sou cliente >
        </a>
    </div>
  </form>

</div>
