<div class="home-container">
  <a href="#" class="logo">
    <img src="assets/images/gama-academy-logo.png">
  </a>

  <div class="home-content-container p-3 mx-auto flex-column flex-sm-row">
    <!-- <a class="gama-logo" href="#">
      <img src="assets/images/gama-academy-logo.png">
    </a> -->
  
      <div class="home-content-access m-5">
        <p class="home-content-text">Fake Bank é um projeto de nossos alunos.</p>
        <p class="home-content-text">Já tem conta?</p>
        <div class="home-btn-access">
          <button type="submit" (click)="onLogin()" class="btn-access">
            Acessar
            <img src="assets/icons/purple-arrow.svg">
            <!-- <img class="loading-arrow" src="assets/icons/purple-arrow.svg"> -->
          </button>
        </div>
      </div>
  
      <section class="account-form">
        <app-create-account-form></app-create-account-form>
      </section>
  </div>
</div>
