<div class="request-new-password-container">
  <a href="#" class="logo">
    <img src="assets/images/gama-academy-logo.png">
  </a>

  <div class="request-new-password-content-container p-3 mx-auto flex-column flex-sm-row">
  
    <form class="card-request-new-password p-4" [formGroup]="requestPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-title ml-2">
          <h4>Solicitar nova senha</h4>
          <p>Confirme seu seu nome de usuário e email. Em seguida você receberá uma nova senha</p>
      </div>
  
      <div class="form-group-input mb-4">
          <input placeholder="Digite seu usuário" type="text"
           name="login" formControlName="login">
      </div>
  
      <div class="form-group-input mb-4">
        <input placeholder="Digite seu email" type="email"
        name="email" formControlName="email">
      </div>
  
      <div class="btn-loader mt-4 mb-5">
          <button type="submit" class="form-btn ml-2">
              Enviar
              <img src="assets/icons/white-arrow.svg">
          </button>
      </div>
      <div class="btn-links mb-3">
          <a href="" class="mb-2">
              Quero ser cliente >
          </a>
      </div>
    </form>
  
  </div>
</div>
