<div class="account-details">
  <div class="gama-digital ">
      <h1 class="gama-digital-title ">Conta digital do Gama Academy</h1>
      <img src="assets/images/app-bg-1.png" class="gama-digital-bg ">
      <p class="gama-digital-discription">Rende mais que a poupança, sem taxa de manutenção nem tarifas escondidas.</p>
  </div>
  <div class="credit-card ">
      <h1 class="credit-card-title ">Cartão de crédito</h1>
      <img src="assets/images/app-bg-2.png " class="credit-card-bg">
      <p class="credit-card-discription ">Rende mais que a poupança, sem taxa de manutenção nem tarifas escondidas.</p>
  </div>
</div>
