<div class="page-error-container p-5">
  <a href="#" class="logo">
    <img src="assets/images/gama-academy-logo.png">
  </a>

  <div class="page-error-card-container mb-5">
    <div class="page-error-card p-2">
      <div class="error-icon-text mt-5">
        <img src="assets/icons/danger.svg">
        <p class="error-text mt-4">Oops, algo deu errado! Confime seus dados e tente novamente!</p>
      </div>
      <div class="error-btn-container mt-5">
        <a class="error-btn" routerLink="/login">
          Voltar
          <img src="assets/icons/white-arrow-left.svg">
        </a>
      </div>
    </div>
  </div>

</div>
